body{
    width: 100%;
    margin: 0;
}
.text{
    display: flex;
    color: white;
    justify-content: space-between;
}
.text2{
    margin-top: 50px;
    display: flex;
    padding-right: 30px;
}
.p1{
    font-size: 40px;
    margin-top: 50px;
}
.p2{
    font-size: 30px;
    margin-top: -10px;
}
.p3{
    font-size: 20px;
    margin-top: 20px;
    margin-left:-60px;
}
.global{
    background-color:darkolivegreen;
    width: 100%;
    height: 100vh;
}
.box1{
    background-color: rgb(56, 56, 182);
    width: 300px;
    height: 150px; 
    margin-left: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    
}
.box2{
    background-color:orangered;
    width: 300px;
    height: 150px; 
    margin-left: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    
}
.box3{
    background-color: darkred;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    
}
.box4{
    background-color:rgb(56, 56, 182);
    width: 150px;
    height: 150px;
    margin-left: 100px;
    color: white;
    justify-content: center;
    align-items: center;
    
}
.box5{
    background-color:cyan;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    color: white;
}
.box1 i{
    justify-content: center;
    align-items: center;
    padding: 50px 130px;
    font-size: 40px;
}
.box2 i{
    justify-content: center;
    align-items: center;
    padding: 50px 130px;
    font-size: 40px;
}
.box3 i{
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 40px;
}
.box4 i{
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 40px;
}
.box5 i{
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 40px;
}
.box1 p{
    margin-top: -10px;
}
.box2 p{
    margin-top: -10px;
}
.box3 p{
    margin-top: -10px;
}
.box4 p{
    margin-top: -10px;
}
.box5 p{
    margin-top: -10px;
}
.first{
    display: flex;
}
.second{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}
.box6{
    background-color: green;
    width: 150px;
    height: 150px;
    margin-left: 30px;
}
.box7{
    background-color: blue;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-left: 10px;
}
.box8{
    background-color: yellow;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-left: 10px;
}
.box9{
    background-color:darkolivegreen;
    width: 300px;
    height: 150px;
    margin-left: 10px;
    margin-left: 10px;
}
.box10{
    background-color: red;
    width: 150px;
    height: 150px;
    margin-left: 100px;
}
.box11{
    background-color: purple;
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-right: 0;
}
.box6 i{
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 40px;
    color: white;
}
.box7 i{
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 40px;
    color: white;
}
.box8 i{
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 40px;
    color: white;
}
.box9 i{
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 40px;
    color: white;
}
.box10 i{
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 40px;
    color: white;
}
.box11 i{
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 40px;
    color: white;
}
.box6 p{
    margin-top: -10px;
    color:white;
}
.box7 p{
    margin-top: -10px;
    color:white;
}
.box8 p{
    margin-top: -10px;
    color:white;
}
.box9 p{
    margin-top: -10px;
    color:white;
    margin-top: 130px;
}
.box10 p{
    margin-top: -10px;
    color:white;
}
.box11 p{
    margin-top: -10px;
    color:white;
}

